:root {
    --primary: #2d5a27;
    --secondary: #f39c12;
    --bg-creme: #f4f1ea;
    --white: #ffffff;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--bg-creme);
}